<div class="col s6 m6 offset-s3 offset-m3">
    <div class="card">
        <button class="waves-effect waves-light btn-small"><</button>
        <span class="card-title">{{pagination}}</span>
        <button class="waves-effect waves-light btn-small">></button>
    </div>
    
</div>
<div class="card">
    <div class="col s6 m6 offset-s3 offset-m3">
        <h1>Viendo cuestionario: {{ title }}</h1>
    </div> 
    <div class="row">
    <div class="col s6 m6 offset-s3 offset-m3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>