@keyframes bgcolor {
  0% {
      background-color: #e3f2fd 
  }

  30% {
      background-color: #e8f5e9
  }

  60% {
      background-color: #fff3e0 
  }

  90% {
      background-color: #ffebee
  }

  100% {
      background-color: #f3e5f5
  }
}

@keyframes btncolor {
  0% {
      background-color: #90caf9
  }

  30% {
      background-color: #a5d6a7
  }

  60% {
      background-color: #ffcc80
  }

  90% {
      background-color: #ef9a9a
  }

  100% {
      background-color: #ce93d8
  }
}

body {
  padding: 50px;
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

a {
  color: #00B7FF;
}

.btn-color,
.btn-flat:hover {
  color: white;
  -webkit-animation: btncolor 20s infinite;
  animation: btncolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
